.breadcrumbList {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--primary-green);
}

.breadcrumbItem:not(:last-child)::after {
    content: ">";
}

.breadcrumbItem a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.breadcrumbItem.active {
    color: var(--secondary-4);
}

.breadcrumbItem img {
  width: 28px;
  height: 22px;
  object-fit: cover;
}
