.formControl {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.formControl label {
  font-weight: 700;
  color: var(--primary-green);
  max-width: 90%;
}

.formControl label span {
  color: var(--secondary-3);
}

.formControl input:not([type="checkbox"]) {
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--secondary-2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 400px;
  height: 44px;
  color: var(--secondary-4);
}

.formControl input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.formControl select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../assets/images/chevron.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 10px;
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--secondary-2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  color: var(--secondary-4);
  height: 44px;
  cursor: pointer;
}

.formControl input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.formError {
  color: var(--secondary-3);
  font-size: 1rem;
  font-weight: 500;
}
