@import 'normalize.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: inherit;
    border: 0;
    outline: 0;
    font-family: inherit;
}

ul, li {
    list-style: none;
}

:root {
    --primary-green: rgb(73, 94, 87);
    --primary-yellow: rgb(244, 206, 20);

    --secondary-1: rgb(255, 218, 187);
    --secondary-2: rgb(237, 239, 238);
    --secondary-3: rgb(238, 153, 114);
    --secondary-4: rgb(51, 51, 51);
}

body {
    font-family: "Karla", sans-serif;
    font-size: 1rem;
}